@import "ReusableStyles.scss";

$navbar-button-shadow: 0 14px 28px #00000066;
$nav-transition-time-and-func: 0.3s ease-in;

.navigation {
    transition: all $nav-transition-time-and-func;
    z-index: $navbar-z-index;
}

// extanded navbar
.navigation.aside {
    position: fixed;
    top: 0;
    left: 0;
    width: $navbar-width;
    height: 100vh;
    padding: 1.3rem;

    display: flex;
    align-items: center;
    box-sizing: border-box;
    color: $light-text-color;
    background-color: $navbar-bg-color;
    overflow: hidden;

    .nav-logo {
        position: absolute;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
        width: 158px;
        height: 2rem;
        text-align: center;
        margin: 0;

        img {
            opacity: 0;
            width: inherit;
            object-fit: contain;
            transition: opacity $nav-transition-time-and-func;
        }

        &::after {
            opacity: 1;
            content: "NV";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2rem;
            font-weight: 700;
            transition: opacity $nav-transition-time-and-func;
        }
    }

    .nav-items {
        width: 100%;
        display: grid;
        gap: 0.6rem;

        .nav-item {
            display: flex;
            justify-content: start;

            padding: 0.8rem 1rem;
            transition: all $nav-transition-time-and-func;
            border-radius: 6px;
            text-decoration: none;
            color: $light-text-color;
            cursor: pointer;

            &:hover {
                box-shadow: $navbar-button-shadow;
                background-color: $navbar-bg-color;
            }

            &.active {
                box-shadow: 0 0 7px #00000066;
                background-color: $navbar-bg-color;

                & .nav-icon:after {
                    border-bottom-color: $light-text-color;
                }
            }

            .nav-icon {
                width: 26px;
                height: 26px;
                position: relative;
                margin: 0;

                svg {
                    width: 100%;
                    height: 100%;
                }

                &:after {
                    content: attr(data-label);
                    position: absolute;
                    top: 50%;
                    left: 100%;
                    transform: translate(1rem, -50%);
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 700;
                    padding: 2px 0;
                    border: 1px solid transparent;
                    transition: all $nav-transition-time-and-func;
                    visibility: hidden;
                }
            }
        }
    }

    &:hover {
        width: calc($navbar-width * 2);

        .nav-logo {
            img {
                opacity: 1;
            }

            &::after {
                opacity: 0;
            }
        }

        .nav-item.active {
            box-shadow: $navbar-button-shadow;
        }

        .nav-icon:after {
            visibility: visible !important;
        }
    }
}

// collapsed navbar
:root {
    .offcanvas {
        $offcanvas-nav-text-size: calc-clamp(1.2rem, 1.5rem);

        display: flex;
        align-items: center;
        justify-content: center;
        color: $light-text-color;
        background-color: $navbar-bg-color;
        z-index: $navbar-z-index;

        .nav-logo {
            margin: 0;
            position: absolute;
            bottom: 1rem;
            left: 50%;
            transform: translateX(-50%);

            img {
                width: calc-clamp(140px, 180px);
            }
        }

        .nav-items {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(100vw, 1fr));

            .nav-item {
                border-radius: 0px;
                text-decoration: none;
                color: $light-text-color;
                cursor: pointer;

                &:hover {
                    background-color: rgba(63, 110, 153, 0.25);
                }

                &.active {
                    background-color: rgba(63, 110, 153, 0.25);

                    .nav-icon span {
                        border-bottom-color: $light-text-color;
                    }
                }
            }

            .nav-icon {
                display: flex;
                left: 50%;
                gap: 1rem;
                width: calc-clamp(150px, 200px);
                justify-content: start;
                align-items: center;
                transform: translateX(-50%);
                padding: calc-clamp(0.5rem, 1rem);

                position: relative;
                margin: 0;

                svg {
                    width: $offcanvas-nav-text-size;
                    height: $offcanvas-nav-text-size;
                }

                span {
                    text-transform: uppercase;
                    font-size: $offcanvas-nav-text-size;
                    font-weight: 700;
                    border: 2px solid transparent;
                }
            }
        }
    }
}

// the hamburger navbar button
.collapsed {
    justify-content: center;

    .offcanvas-button {
        $toggle-navbar-button-width: calc-clamp(26px, 32px);

        display: block;
        position: relative;
        cursor: pointer;
        font-size: 20px;
        user-select: none;
        z-index: $navbar-toggle-z-index;

        position: fixed;
        top: 1rem;
        left: clamp(320px, calc(850px + (100vw - 908px) * (850 - 320) / (908 - 375)), 850px);
        padding: 0.25rem;
        border-radius: 4px;

        &.scrolled:not(:has(input:checked)) {
            transition: all 0.5s ease-in-out;
            background-color: rgba(49, 85, 119, 0.1);
        }

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        .checkmark {
            position: relative;
            top: 0;
            left: 0;
            height: calc-clamp(1.1rem, 1.3rem);
            width: $toggle-navbar-button-width;

            span {
                width: $toggle-navbar-button-width;
                height: 2px;
                background-color: #315577;
                position: absolute;
                transition: all 0.3s ease-in-out;

                &:nth-child(1) {
                    top: 10%;
                }

                &:nth-child(2) {
                    top: 50%;
                }

                &:nth-child(3) {
                    top: 90%;
                }
            }
        }

        input:checked + .checkmark span {
            background-color: $light-text-color;
        }

        input:checked + .checkmark span:nth-child(1) {
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
        }

        input:checked + .checkmark span:nth-child(2) {
            top: 50%;
            transform: translateY(-50%) rotate(-45deg);
        }

        input:checked + .checkmark span:nth-child(3) {
            transform: translateX(-50px);
            opacity: 0;
        }
    }
}

// scroll up button
.scroll-to-top {
    position: fixed;
    bottom: 1rem;
    right: 0.5rem;
    border: none;
    background-color: $dark-blue-text-color;
    color: $light-text-color;
    border-radius: 50%;
    font-size: 1.4rem;
    height: 3rem;
    width: 3rem;
    z-index: $scroll-top-z-index;
    transition: all $nav-transition-time-and-func;
    opacity: 0;
    visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    &::before {
        content: "scroll up";
        width: 3.5rem;
        height: 1rem;
        font-size: 0.8rem;
        font-weight: 600;
        color: $dark-blue-text-color;
        position: absolute;
        top: -1.4rem;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity $nav-transition-time-and-func;
    }

    &.visible {
        opacity: 0.8;
        visibility: visible;

        &:hover {
            opacity: 1;

            &::before {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

@media (max-width: #{$laptop-breakpoint}) {
    .navigation.aside {
        display: none;
    }

    .scroll-to-top {
        font-size: 1rem;
        height: 2.4rem;
        width: 2.4rem;

        &::before {
            display: none;
        }
    }
}

// animations to smoothly move nav items from the edge of the screen to the center (slide in) and back (slide out)
.offcanvas {
    $nav-item-count: 6;
    .nav-item {
        transform: translateX(-100%);
    }

    @for $i from 1 through $nav-item-count {
        & .slide-in {
            .nav-item:nth-child(#{$i}) {
                animation: slide-in 0.25s linear #{$i * 0.1}s both;
            }
        }
        & .slide-out {
            .nav-item:nth-child(#{$i}) {
                animation: slide-out 0.2s linear #{$i * 0.05}s both;
            }
        }
    }

    @keyframes slide-in {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0);
        }
    }

    @keyframes slide-out {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%);
        }
    }
}
